.product_box {
    display: flex; /*flex:1;*/
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding: 16px;
}

.product_box + .product_box {
    margin-left: 16px;
}

.product_box .img_thumb {
    width: 106px;
    height: 106px;
    border-radius: 4px;
    overflow: hidden;
}

.product_box .img_thumb img {
}

.product_box .text_info {
    margin-left: 14px;
    flex: 1;
    width: 250px;
}

.product_box .text_info .name {
    font-size: 12px;
    line-height: 18px;
    color: #939393;
}

.product_box .text_info .desc {
    display: -webkit-box;
    height: 60px;
    white-space: normal;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product_box .text_info .sum {
    display: inline-block;
    font-weight: 500;
    margin-top: 6px;
}